@use '@/styles/variables' as *;

.categoriesListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
    background-color: $primary-color;

    @media screen and (max-width: 768px) {
        align-items: flex-start;
        padding: 1rem;
    }

    .categoriesListHeader, .categoriesList {
        width: 85dvw;
        max-width: 1400px;
    }

    .categoriesListHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 0 1rem;

        h2 {
            font-size: $font-size-large;
            color: $color-text;
            font-weight: $font-weight-bold;
            margin: 0;
        }

        .moreLink {
            font-size: $font-size-xsmall;
            color: $color-text-quaternary;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .categoriesList {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        padding: 2rem 1rem;
        overflow-x: auto;
        flex-wrap: nowrap;
        scrollbar-width: thin;
        scrollbar-color: $color-text-quaternary $primary-color;

        &::-webkit-scrollbar {
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: $color-text-quaternary;
            border-radius: 4px;
        }
    }
}