@use '@/styles/variables' as *;

.ordersPage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    min-height: 60dvh;
    margin: 0 auto;
    padding: 2rem;

    .backArrow {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: $color-text;
        font-size: $font-size-xsmall;
        text-decoration: none;
        background: none;
        border: none;
        cursor: pointer;
        margin-bottom: 1rem;

        &:hover {
            color: $color-text-secondary;
            text-decoration: underline;
        }
    }

    .ordersPageTitle {
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
    }

    .ordersPageDescription {
        font-size: $font-size-normal;
        color: $color-text-secondary;
        margin-bottom: 2rem;
    }

    .ordersPageContent {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        overflow-y: auto;
        max-height: 70dvh;
    }
}