$primary-color: #020817;
$secondary-color: #1E293B;
$color-button: #0F96D6;

//Color text
$color-text: #F8FAFC;
$color-text-secondary: #94A3B8;
$color-text-tertiary: #0F172A;
$color-text-quaternary: #0A7FB7;

$color-hover-primary: #DD1D4A;

//Font-size
$font-size-small: 12px;
$font-size-xsmall: 14px;
$font-size-normal: 18px;
$font-size-medium: 20px;
$font-size-large: 30px;
$font-size-xlarge: 48px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

@keyframes skeleton-loading {
    0% {
        background-color: $color-text-tertiary;
    }

    100% {
        background-color: $color-text-quaternary;
    }
}