@use '@/styles/variables' as *;
@use '../LoginPage/_loginPage.scss' as loginPageStyles;

.registerPage {
    @extend .loginPage;
}

.registerForm {
    @extend .loginForm;
}

.registerDescription {
    @extend .loginDescription;
}

.formGroup {
    @extend .formGroup;
}

.formActions {
    a {
        color: $color-text-secondary;
        text-decoration: none;
        font-size: $font-size-xsmall;
        transition: color 0.3s ease;

        &:hover {
            color: $color-hover-primary;
            text-decoration: underline;
        }
    }
}

button {
    @extend .button !optional;
}