@use '@/styles/variables' as *;

.colorItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    filter: brightness(0.4);

    &:hover {
        filter: brightness(1);
        cursor: pointer;
    }

    &.active {
        background-color: $color-text-quaternary;
        border-color: $color-text;
        box-shadow: 0 0 5px $color-text;
        color: $color-text;
        filter: brightness(1);
    }
}