@use '@/styles/variables' as *;
@use '../../HeaderCustomActions/headerCustomActions' as *;

.headerCustomActionsEdit {
    @extend .headerCustomActions;

    .headerCustomActionsEditContent {
        @extend .headerCustomActionsContent;

        .headerCustomActionsEditBack {
            @extend .headerCustomActionsBack;
        }

        .headerCustomActionsEditInfo {
            @extend .headerCustomActionsInfo;
        }

        .headerCustomActionsEditButtons {
            @extend .headerCustomActionsButtons;

            .saveButton {
                background-color: $color-button;
                color: $color-text-tertiary;
                border: none;
                border-radius: .5rem;
                padding: 0.5rem 1rem;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background-color: darken($color-button, 15%);
                }
            }
        }
    }
}
