@use '../../styles/variables' as *;

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .navbarLink {
        color: $color-text;
        font-size: $font-size-xsmall;
        font-weight: $font-weight-medium;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: $color-button;
        }
    }
}